In [33]:
import os
import numpy as np
import pandas as pd

In [38]:
df_labels = pd.read_csv("./data/labels.csv", header=None, names=["jester name"])
df_labels['label'] = df_labels.index.to_series()
df_labels

                      jester name  label
0                    Swiping Left      0
1                   Swiping Right      1
2                    Swiping Down      2
3                      Swiping Up      3
4               Pushing Hand Away      4
5                 Pulling Hand In      5
6        Sliding Two Fingers Left      6
7       Sliding Two Fingers Right      7
8        Sliding Two Fingers Down      8
9          Sliding Two Fingers Up      9
10       Pushing Two Fingers Away     10
11         Pulling Two Fingers In     11
12           Rolling Hand Forward     12
13          Rolling Hand Backward     13
14         Turning Hand Clockwise     14
15  Turning Hand Counterclockwise     15
16      Zooming In With Full Hand     16
17     Zooming Out With Full Hand     17
18    Zooming In With Two Fingers     18
19   Zooming Out With Two Fingers     19
20                       Thumb Up     20
21                     Thumb Down     21
22                   Shaking Hand     22
23                      Stop Sign     23
24               Drumming Fingers     24
25                     No gesture     25
26             Doing other things     26

In [35]:
# train.csv --> df_train
df_train = pd.read_csv("./data/train.csv", sep=";", header=None, names=["frame_id", "jester name"])
df_train.head()

   frame_id                jester name
0     34870           Drumming Fingers
1     56557  Sliding Two Fingers Right
2    129112   Sliding Two Fingers Down
3     63861     Pulling Two Fingers In
4    131717     Sliding Two Fingers Up

In [42]:
# validation.csv --> df_test
df_validation = pd.read_csv("./data/validation.csv", sep=";", header=None, names=["frame_id", "jester name"])
df_validation.head()

   frame_id               jester name
0      9223                  Thumb Up
1    107090  Pushing Two Fingers Away
2     42920              Swiping Left
3    106485                Thumb Down
4    142201     Rolling Hand Backward

In [40]:
# test.csv --> df_test
df_test = pd.read_csv("./data/test.csv", sep=";", header=None, names=["frame_id"])
df_test.head()

   frame_id
0    109621
1    145149
2     53606
3      1417
4    136684

### Add label columns

In [36]:
# train
df_train = pd.merge(df_train, df_labels, how="left", on = "jester name")
df_train.head()

   frame_id                jester name  label
0     34870           Drumming Fingers     24
1     56557  Sliding Two Fingers Right      7
2    129112   Sliding Two Fingers Down      8
3     63861     Pulling Two Fingers In     11
4    131717     Sliding Two Fingers Up      9

In [43]:
# validation
df_validation = pd.merge(df_validation, df_labels, how="left", on = "jester name")
df_validation.head()

   frame_id               jester name  label
0      9223                  Thumb Up     20
1    107090  Pushing Two Fingers Away     10
2     42920              Swiping Left      0
3    106485                Thumb Down     21
4    142201     Rolling Hand Backward     13